{% load static %}

<footer class="footer" style="margin-top: auto;">
    <div class="footer-items" style="justify-content: center; text-align: center; margin-top: auto;">
        <p style="display: inline-block; margin-right: 20px; padding-right: 100px; color: #0C3756 ; font-size: small; font-weight: bold;">&copy; 2024 FunOlympics Payris</p>
        <a href="{% url 'home' %}" style="margin-right: 40px; color: #0C3756; text-decoration: none; font-size: small;">Home</a>
        <a href="{% url 'event' %}" style="margin-right: 40px; color: #0C3756; text-decoration: none; font-size: small;">Events</a>
        <a href="{% url 'schedule' %}" style="margin-right: 40px; color: #0C3756; text-decoration: none; font-size: small;">Schedule</a>
        <a href="{% url 'about' %}" style="margin-right: 40px; color: #0C3756; text-decoration: none; font-size: small;">About Us</a>
        <!-- Add other navbar links as needed -->
    </div>
</footer>

