{% extends 'main.html' %}

{% block title %}About Us- FunOlympics Site{% endblock %}

{% block content %}
    <main class="about-page">
        <h1>About the FunOlympics 2024 Committee</h1>

    <section class="mission-vision">
        <h2>Mission and Vision</h2>
        <p>Our mission is to create an inclusive, exciting, and memorable Olympic event that promotes sportsmanship and unity through competition. The FunOlympics 2024 envisions harnessing the power of sports to inspire a better future for all, fostering positive societal change, and celebrating cultural diversity.</p>
    </section>

    <section class="organizational-structure">
        <h2>Organizational Structure</h2>
        <p>The FunOlympics Committee is comprised of dedicated individuals from various sectors. The team includes our Executive Board, Operations Directors, and specialized staff. Collaborative decision-making and transparent leadership are the cornerstones of our organizational approach.</p>
    </section>

    <section class="responsibilities">
        <h2>Responsibilities</h2>
        <p>Our responsibilities encompass meticulous planning and execution of the event, covering logistics for venue preparation, athlete accommodations, comprehensive security, engaging marketing campaigns, and astute financial oversight.</p>
    </section>

    <section class="ethical-standards">
        <h2>Ethical Standards</h2>
        <p>Upholding the highest ethical standards, we are committed to fairness in competition, with stringent anti-doping policies and a code of conduct that ensures integrity among officials and participants alike.</p>
    </section>

    <section class="sustainability-initiatives">
        <h2>Sustainability Initiatives</h2>
        <p>Our commitment to sustainability is evident in our eco-friendly venue designs, effective waste management strategies, smart transportation solutions, and efforts to reduce the carbon footprint of the games.</p>
    </section>

    <section class="community-engagement">
        <h2>Community Engagement</h2>
        <p>We are actively engaging with local communities to include them in the celebration of the Olympic spirit, offering volunteer opportunities, educational programs, and cultural activities that leave an enduring legacy.</p>
    </section>

    <section class="partnerships-sponsorships">
        <h2>Partnerships and Sponsorships</h2>
        <p>Our esteemed partners and sponsors play a pivotal role in the success of the Olympics, providing essential support while aligning with our values of unity, excellence, and respect.</p>
    </section>

    <section class="legacy-plans">
        <h2>Legacy Plans</h2>
        <p>The legacy of the FunOlympics 2024 will resonate long after the closing ceremony, with infrastructure upgrades, sports development programs, and initiatives aimed at boosting tourism and cultural understanding.</p>
    </section>
    </main>    
{% endblock %}

