{% extends 'main.html' %}

{% load static %}

{% block content %}

<main>
  <div class="home_container">
    <div class="home_text">
      <h1>Welcome to FunOlympics 2024 !</h1>
      <p>
        Welcome to the ultimate celebration of sports and laughter! 
        Get ready to experience the <strong>Fun Olympics 2024</strong>, right here in <strong>Payris! </strong>
        Join us for an unforgettable blend of thrilling competitions, hilarious events, and boundless excitement. 
        <br/><br><strong><em>Let the games begin!</em></strong> 
      </p>
    </div>

  </div>
</main>

{% endblock content %}