{% extends 'main.html' %}

{% load static %}

{% block title %}Schedule- FunOlympics Site{% endblock %}

{% block content %}
<main class="schedule-page">
        <h1>Schedule for upcoming events !</h1>
        <div class="schedule-image">
            <img src="{% static 'images/schedule.png' %}">
            <!-- <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>Opening Ceremony</td>
                <td>July 23, 2024</td>
                <td>8:00 PM</td>
            </tr>
            <tr>
                <td>Track and Field</td>
                <td>July 24-29, 2024</td>
                <td>9:00 AM - 5:00 PM</td>
            </tr>
            <tr>
                <td>Swimming Finals</td>
                <td>July 30, 2024</td>
                <td>7:00 PM</td>
            </tr>
            <tr>
                <td>Gymnastics</td>
                <td>August 1-5, 2024</td>
                <td>10:00 AM - 3:00 PM</td>
            </tr>
            <tr>
                <td>Basketball Finals</td>
                <td>August 6, 2024</td>
                <td>6:00 PM</td>
            </tr>
            <tr>
                <td>Tennis Singles</td>
                <td>August 7-12, 2024</td>
                <td>11:00 AM - 6:00 PM</td>
            </tr>
            <tr>
                <td>Rifle</td>
                <td>August 8-10, 2024</td>
                <td>9:00 AM - 4:00 PM</td>
            </tr>
            <tr>
                <td>Archery</td>
                <td>August 9-11, 2024</td>
                <td>10:00 AM - 3:00 PM</td>
            </tr>
            <tr>
                <td>Karate</td>
                <td>August 10-13, 2024</td>
                <td>8:00 AM - 6:00 PM</td>
            </tr>
            <tr>
                <td>Taekwondo</td>
                <td>August 11-14, 2024</td>
                <td>1:00 PM - 5:00 PM</td>
            </tr>
            <tr>
                <td>Closing Ceremony</td>
                <td>August 15, 2024</td>
                <td>7:00 PM</td> -->
        </div>
</main>
{% endblock %}

